body {
    margin: 0;
    font-family: 'Poppins', 'Segoe UI', sans-serif;
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(58, 58, 156);
    color: white;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.container {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

.btn {
    background-color: #ffa07a;
    border: none;
    color: white;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff725e;
}



input[type="radio"] {
    margin-right: 8px;
}

.home-container {
    text-align: center;
    margin-top: 120px;
}

.home-container h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 0.5rem;
}

.subtitle {
    font-size: 1.25rem;
    color: grey;
    margin-bottom: 2.5rem;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.main-button {
    background-color: #1946ba;
    color: white;
    font-size: 1.25rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1.5rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.main-button:hover {
    background-color: #143a96;
}

.quiz-title {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-top: 80px;
    margin-bottom: 40px;
}

.quiz-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0 1rem;
    flex-wrap: wrap;
}

.quiz-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 1rem;
    padding: 2rem;
    width: 220px;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
}

.quiz-card h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.quiz-card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1.5rem;
}

.quiz-start {
    background-color: #e0e0e0;
    color: #333;
    padding: 0.6rem 1.8rem;
    border-radius: 2rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s;
}

.quiz-start:hover {
    background-color: #cfcfcf;
}
