{% extends "base.html" %}

{% block title %}Easy Quiz{% endblock %}

{% block content %}
<div class="score-header">
    <div class="score-container">
        <div>Correct: <span id="correct">0</span></div>
        <div class="missed">Missed: <span id="missed">0</span></div>
    </div>
</div>
<div class="quiz-header">
    <div class="timer-container">
        <span id="timer">1:00</span>
    </div>
</div>

<div class="quiz-area">
    <div class="labels">
        {% for item in labels %}
            <div class="label-container" id="container-{{ item.name }}">
                <div class="draggable" draggable="true" id="{{ item.name }}">{{ item.name }}</div>
            </div>
        {% endfor %}
    </div>

    <div class="images">
        {% for item in images %}
            <div class="dropzone" data-answer="{{ item.name }}">
                <img src="{{ item.image }}" alt="{{ item.name }}">
            </div>
        {% endfor %}
    </div>
</div>

<a href="{{ url_for('quiz') }}" class="back-button">← Back</a>

<script src="{{ url_for('static', filename='easy_quiz.js') }}"></script>
{% endblock %}
