{% extends "base.html" %}

{% block title %}Hard Quiz{% endblock %}

{% block content %}
<div class="score-header">
    <div class="score-container">
        <div>Correct: <span id="correct">0</span></div>
        <div>Missed: <span id="missed">0</span></div>
    </div>
</div>
<div class="quiz-header">
    <div class="timer-container">
        <span id="timer">1:00</span>
    </div>
</div>

<div class="final-quiz-grid">
    {% for card in cards %}
        <div class="card draggable dropzone"
            draggable="true"
            data-match-id="{{ card.match_id }}" 
            data-type="{{ card.type }}">
            
            {% if card.type == "name" %}
                <p>{{ card.content }}</p>
            {% elif card.type == "image" %}
                <img src="{{ card.content }}" alt="Dish Image">
            {% elif card.type == "audio" %}
                <audio class="hidden-audio">
                    <source src="{{ url_for('static', filename=card.content) }}" type="audio/mpeg">
                </audio>
                <button draggable="false" class="learn-listen-button" onclick="playCardAudio(this, event)">
                    <i class="fa-solid fa-volume-high"></i>
                </button>
            {% elif card.type == "ingredients" %}
                <ul>
                    {% for ing in card.content %}
                        <li>{{ ing }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
</div>


<a href="{{ url_for('quiz') }}" class="back-button">← Back</a>

<script src="{{ url_for('static', filename='hard_quiz.js') }}"></script>
{% endblock %}
